{% extends 'base.html' %}
{% block content %}
<div class="p-5 mb-4 bg-dark rounded-3 border border-secondary text-center shadow">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white">Bienvenido al Panel</h1>
        <p class="col-md-8 fs-4 mx-auto text-secondary">Sistema de gestión de información y bases de datos.</p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
            <a href="{% url 'lista_clientes' %}" class="btn btn-outline-info btn-lg px-4 gap-3">
                Gestionar Registros
            </a>
        </div>
    </div>
</div>
{% endblock %}